.board-card-border{
    position: absolute;
    display: none;
    width: 9vw;
    aspect-ratio: 36/49;
    height: auto;
    border-radius: 20px;
    bottom: 50vh;
    z-index: 1;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.board-splash-art{
    width: 8.25vw;
    height: auto;
    aspect-ratio: 36/49;
    border-radius: 20px;
    margin: auto;
    z-index: 2;
}
.board-card-corner{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3.5vw;
    height: auto;
    aspect-ratio: 6/7;
    border-radius: 20px;
    z-index: 3;
}

.board-icon{
    width: 1vw;
    height: auto;
    aspect-ratio: 12/13;
    padding-top: 1.5vh;
}

.board-power-num{
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 3vh;
    font-weight: bold;
}

#player-board-card, #ai-board-card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20vh;
}

.board-card-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
}

.board-card-name p{
    font-family: 'Caesar Dressing';
    font-size: x-large;
}
