.card-border{
    display: flex;
    width: 11.9vw;
    aspect-ratio: 36/49;
    height: auto;
    background-color: lightblue;
    border-radius: 20px;
    z-index: 1;
    margin: 20px;
}

.splash-art{
    width: 10.7vw;
    height: auto;
    aspect-ratio: 36/49;
    border-radius: 20px;
    margin: auto;
    z-index: 2;
}
.card-corner{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4vw;
    height: auto;
    aspect-ratio: 6/7;
    background-color: lightblue;
    border-radius: 20px;
    z-index: 3;
}

.icon{
    width: 1.6vw;
    height: auto;
    aspect-ratio: 12/13;
    padding-top: 2.5vh;
}

.power-num{
    margin-bottom: 2vh;
}


#hand{
    display: flex;
    position: absolute;

}