.points{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    top: 0px;
    position: absolute;
    margin-top: 5vh;
}

.points > div{
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 5vh;
}

.tally{
    width: 3vw;
    height: auto;
}

.tally img{
    height: 100%;
    width: auto;
}

#player-points, #ai-points{
    display: flex;
    flex-direction: row;
    width: 3vw;
}

#player-points div div, #ai-points div div{
    display: flex;
    flex-direction: column;
    padding: 1vh;
    border-radius: 20px;
    margin-top: -7.5vh;
    border: 1px solid black;
    position: relative;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    box-shadow: 0.25vw 0.5vh;
}