#title-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    flex-direction: column;
    margin-top: 20vh;
}

.title-screen{
    font-family: 'Caesar Dressing';
    font-size: 30vh;
    color: #283d70;
    text-shadow: #2e3546 1vw 1vh;
}