#volume{
    position: absolute;
    border-radius: 5px;
    border: 2px solid black;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5em;
    height: 3.5em;
    opacity: 50%;
}

#volume-and-instructions{
    position: absolute;
    top: 4vh;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 9999999999;
}